@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

body{
  background-color: #86A1FF;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
}

.roll-btn{
  font-size: 30px;
  border: none;
  background: none;
  font-family: 'Frijole', cursive;
}

.roll-btn:hover{
  cursor: pointer;
  color: white;
}